<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block d-xl-block">
      <div class="filter__wrapper" style="margin-top: 100px">
        <h2>Search Books</h2>
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genreId">
              <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
                genre.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.id"
                >{{ category.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Publishers</mat-label>
            <mat-select formControlName="publisherId">
              <mat-option
                *ngFor="let publisher of publishers"
                [value]="publisher.id"
                >{{ publisher.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sort</mat-label>
            <mat-select formControlName="sortBy">
              <mat-option
                *ngFor="let select of sortSelection"
                [value]="select.value"
                >{{ select.value }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <div>
            <mat-checkbox name="price" formControlName="priceFilter1"
              >0đ - 150000đ</mat-checkbox
            >
          </div>

          <div>
            <mat-checkbox name="price" formControlName="priceFilter2"
              >150000đ - 300000đ</mat-checkbox
            >
          </div>

          <div>
            <mat-checkbox name="price" formControlName="priceFilter3"
              >300000đ - 500000đ</mat-checkbox
            >
          </div>

          <div>
            <mat-checkbox name="price" formControlName="priceFilter4"
              >500000đ - 700000đ</mat-checkbox
            >
          </div>

          <div class="clear-container">
            <button mat-flat-button (click)="clearForm()" color="warn">
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      <div class="filter__wrapper" style="margin-top: 100px">
        <hr />

        <label>Sort: </label>
        <select (change)="onChangeValue($event)">
          <option *ngFor="let select of sortSelection" [value]="select.value">
            {{ select.name }}
          </option>
        </select>
        <app-product-list [books]="books"></app-product-list>
        <mat-paginator
          [length]="totalAmountOfRecords"
          [pageSize]="recordsPerPage"
          [pageSizeOptions]="[5, 10, 15, 20]"
          (page)="paginatorUpdate($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
