<div class="container">
<div class="search-div">
  <button mat-flat-button color="primary" (click)="openDialog()">Create new</button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input class="full-width" matInput [(ngModel)]="searchKey" placeholder="Tìm kiếm" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon><i class="fas fa-times"></i></mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="row d-flex justify-content-center mat-elevation-z8">
  <table mat-table [dataSource]="listdata" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Tên nhà xuất bản</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Hình ảnh</th>
      <td mat-cell *matCellDef="let element"><img src="{{ element.picture }}" width="100px" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <tr mat-cell *matCellDef="let element" class="action__rows">
        <button mat-flat-button color="accent" (click)="openUpdateDialog(element)">Sửa</button>
        <button mat-flat-button color="warn"           
        [swal]="{
          title: 'Xác nhân!',
          text: 'Bạn có muốn xóa nhà xuất bản này này?',
          showCancelButton: true
        }"
         (confirm)=" onDeleteItem(element.id)">Xóa</button>
      </tr>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator style="margin-top: 10px" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalAmountOfRecords" [pageSize]="pageSize" (page)="updatePagination($event)" showFirstLastButtons></mat-paginator>
</div>
</div>