.content{
    background-color: white;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    padding: 30px;
}
.content h3{
    text-align: center;
    margin-bottom: 20px;
}
.full-width{
    width: 100%;
}
.btnRegister{
    text-align: center;
    background: linear-gradient(90deg, rgba(0,48,203,1) 0%, rgba(0,150,255,1) 100%);
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
}
.textRegisterLoginAdmin{
    margin-bottom: 20px;
    color: black;
}
a{
    display: block;
    text-decoration: none;
}
span{
    color: white;
    font-weight: bold;
}