<div class="content">
  <h3>Đổi mật khẩu</h3>
  <form (submit)="changePass(form.value)" [formGroup]="form">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Mật khẩu hiện tại</mat-label>
      <input type="password" formControlName="currentPassword" matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Mật khẩu mới</mat-label>
      <input type="password" formControlName="newPassword" matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nhập lại mật khẩu</mat-label>
      <input type="password" formControlName="confirmNewPassword" matInput>
    </mat-form-field>
    <button class="btnRegister" type="submit"><span>Đổi mật khẩu</span></button>
  </form>
</div>
