<div class="container">
  <select [(ngModel)]="selectedProvince" (change)="onSelectProvince($event)">
    <option value="0">-- Chọn thành phố --</option>
    <option
      *ngFor="let province of provinces; let i = index"
      [value]="province.province_name"
    >
      {{ province.province_name }}
    </option>
  </select>
  <select [(ngModel)]="selectedDistrict" (change)="onSelectDistrict($event)">
    <option value="0">-- Chọn quận/ huyện --</option>
    <option
      *ngFor="let district of districts; let i = index"
      [value]="district.district_name"
    >
      {{ district.district_name }}
    </option>
  </select>
  <select [(ngModel)]="selectedWard">
    <option value="0">-- Chọn phường/ xã --</option>
    <option
      *ngFor="let ward of wards; let i = index"
      [value]="ward.ward_name"
    >
      {{ ward.ward_name }}
    </option>
  </select>

  <p>Tỉnh/ thành đã chọn: {{ selectedProvince }}</p>
  
  <p>Quận/ huyện đã chọn: {{ selectedDistrict }}</p>
  
  <p>Phường/ xã đã chọn: {{ selectedWard }}</p>

  <div *ngFor="let address of addresses" >
      <input name="address" (change)="onSelected($event)" type="radio" [value]="address.id">{{address.street}}
  </div>

  <form style="display: none;" [formGroup]="addressForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input type="text" formControlName="firstName" matInput />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input type="text" formControlName="lastName" matInput />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input type="text" formControlName="phone" matInput />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input type="text" formControlName="country" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input type="text" formControlName="street" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input type="text" formControlName="city" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ward</mat-label>
      <input type="text" formControlName="ward" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>District</mat-label>
      <input type="text" formControlName="district" matInput />
    </mat-form-field>
  </form>
</div>
