<div class="container-fluid">
  <img class="imgBack" src="/assets/images/header_pagecontact2.jpg" alt=""/>
</div>
<div class="container">
  <div class="wrapping__header__home">
    <h2><a href="">Giới thiệu HuWine</a></h2>
  </div>
  <div class="imgAbout">
    <img src="/assets/images/winery2.jpg" alt="">
  </div>
  <div class="contentAbout">
    <p><strong>HuWine</strong> là thương hiệu trong lĩnh vực nhập khẩu và phân phối rượu vang. Hiện này HuWine đã có mặt trên toàn quốc với sự hiện diện ở hầu hết 
      các tỉnh thành và mặt hàng của HuWine bên cạnh việc được bán trên website chính thức thì cũng đã được trưng bày ở các siêu thị lớn ở VN. Các sản phẩm rượu vang nhập khẩu của HuWine
      phân phối luôn mang đến cho người tiêu dùng những sản phẩm có chất lượng tốt nhất, đáp ứng được nhu cầu và thị hiếu phong phú, đa dạng của khách hàng.
    </p>
    <p>HuWine đã mở rộng hợp tác với các hãng rượu nổi tiếng trên thế giới và được chỉ định là nhà nhập khẩu trực tiếp và phân phối độc quyền tại thị trường Việt Nam như Chateau de la Mallevieille, Maison Lamartine… (Pháp), 
      Vinxa Punti Ferreer Ltda, Talented Fine Brands S.P.A, Viinxedos Y Bodegas Las Pircas Ltda, Lomajes de Vĩna Rọja,Maison Bouey, Calyptra (Chile), …</p>
    <p>Với đội ngũ nhân viên nhiệt huyết, nhiều kinh nghiệm trong lĩnh vực rượu vang, khi đến với HuWine khách hãng sẽ được tư vấn 
      những sản phẩm phù hợp nhất và sự tin cậy về chất lượng, giá cả và dịch vụ của chúng tôi.</p>
  </div>
  <div class="imgAbout">
    <img src="/assets/images/winery1.jpg" alt="">
  </div>
</div>
