@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*Navigation*/

.mat-badge-content{
    color : white
}

.mat-badge-content{
    background : #941438;
}

.top__banner
{
    background-color: #941438;
    text-align: center;
    color: white;
    padding: 5px 0;
    text-transform: uppercase;
}

.top__banner h4
{
    font-size: 12px;
    margin: 10px 0;
}

.navbar__container
{
    background-color: white;
    padding: 20px 0;
    border-bottom: 2px solid rgba(117, 117, 117, 0.486);
}

.navbar__box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img
{
    max-height: 45px;
   
  /*   background-color: black; */
}

.navbar__items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar__items li
{
    list-style-type: none;
    display: inline-block;
    height: 100%;
    padding: 0;
}

.navbar__items li a
{
    display: block;
    margin: 0 12px;
    letter-spacing: 2px;
    transition: all 0.3s;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    font-size: 13px;
}

.navbar__items li a::before
{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: left center;
    border-bottom: 2px solid #000000;
    transition: transform 0.3s opacity 0.3s;
}


.navbar__items li a:hover, 
.navbar__items li a:active
{
    border-bottom: 3px solid black;
}

.navbar__icons
{
    position: relative;
    display: flex;
}

.navbar__searchbox
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: auto;
    right: 0;
    top: calc(100% + 17px);
    z-index: 999;
    min-width: 400px;
    min-height: 40px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
    transition: 0.2s;
}

.search__action__box.show__box .navbar__searchbox
{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.box__triangle
{
    position: absolute;
    right: 90px;
    bottom: calc(100% - 2px);
    margin: 0;
    width: 27px;
    height: 14px;
}

.site__nav__container
{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    min-height: 100%;
    padding: 25px 15px 15px;
}

.titlebox
{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5ec;
}

form.searchform
{
    position: relative;
    margin-top: 18px;
    margin-bottom: 15px;
}

input.searchinput
{
    background: #fff;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 55px 0 15px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
    appearance: none;
}

.btn__search
{
    width: 55px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    background: #000000;
    border: 0;
    border-radius: 0;
    overflow: hidden;
}

.btn__search svg
{
    width: 18px;
    height: 45px;
    fill: #fff;
}

.btn__search__mobile
{
    position: absolute;
    width: 35px;
    height: 30px;
    line-height: 30px;
    border: 0;
    outline: none;
    padding: 0;
    top: 12px;
    right: 10px;
    background: transparent;
    cursor: pointer;
}

.searchinput__mobile
{
    width: 100%;
    height: 30px;
    padding: 5px 40px 5px 8px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #eaeaea;
    background: #f5f5f5;
    color: #252a2b;
}

.btn__search__mobile svg
{
    width: 15px;
    height: 30px;
    line-height: 30px;
    opacity: 0.6;
    fill: #000;
}

.searchform__mobile
{
    margin: 5px 0;
}

.show__on__mobile
{
    position: relative;
    padding: 5px 6px;
}

.navbar__icons a img, .navbar__navigator a img
{
    width: 40px;
    padding: 0 10px;
}

#cart
{
    padding-right: 0;
    width: 30px;
}

.mat-menu-panel{
    margin-top: 17px;
}

.navbar__navigator
{
    position: relative;
}

.navbar__items-mobile
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100000;
    display: none;
}

.navbar__icons a img:hover
{
    cursor: pointer;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox img {
    border-radius: 100%;
    width: 50px;
}