<div class="sidebar__cart">
  <div class="cart__order__sum">
    <h2 class="order__summary__title">Thông tin đơn hàng</h2>
    <div class="summary__total">
      <p>
        Thành tiền:
        <span>{{ subtotal | moneypipe }}</span>
      </p>
    </div>
    <div class="summary__total">
      <p>
        Phí vận chuyển:
        <span>{{ shippingPrice | moneypipe }}</span>
      </p>
    </div>
    <div class="summary__total">
      <p>
        Tổng số tiền: <span>{{ total | moneypipe }}</span>
      </p>
    </div>
  </div>
</div>
