<div class="sidebar__cart">
  <div class="cart__order__sum" *ngIf="(cartTotals$ | async)">
      <h2 class="order__summary__title">Thông tin đơn hàng</h2>
      <div class="summary__total">
          <p>Thành tiền: <span>{{(cartTotals$ | async).subtotal}}</span></p>
      </div>
      <div class="summary__total">
          <p>Phí vận chuyển: <span>{{(cartTotals$ | async).shipping}}</span></p>
      </div>
      <div class="summary__total">
          <p>Tổng số tiền: <span>{{(cartTotals$ | async).total}}</span></p>
      </div>
      <div class="summary__action">
          <p>Bạn có thể nhập mã giảm giá ở trang thanh toán</p>
          <a href="" class="checkout__btn">THANH TOÁN</a>
      </div>
  </div>  
</div>