<div class="card__item" *ngIf="product">
    <div class="product__image">
        <a [routerLink]="['/product-detail', product.id]" routerLinkActive="active">
            <img src="{{ product.imagePath }}" height="300px"/>
        </a>
    </div>
    <div class="product__detail">
        <div class="box__product__detail">
            <h3 class="product__name">
                <a href="">{{ product.productname }}</a>
            </h3>
            <div class="product__capcon">
                <p> {{ product.capacity }}/ {{ product.concentration }}</p>
            </div>
            <div class="product__price">
                <p> {{ product.price | moneypipe }}</p>
            </div>
            <button style="margin-top: 20px;" type="button" class="btn btn-sm btn-danger product-btn" (click)="handleAddToCart()">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>


