<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Quản lý sản phẩm">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <app-product-edit></app-product-edit>
          </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Quản lý tin tức">
      <app-news-edit></app-news-edit>
  </mat-tab>
  <mat-tab label="Quản lý danh mục">
    <app-category-index></app-category-index>
  </mat-tab>
  <mat-tab label="Quản lý đơn hàng">
      <app-checkout-edit></app-checkout-edit>
  </mat-tab>
</mat-tab-group>