<div class="product__holder">
  <div class="product__image">
    <a [routerLink]="['/product-detail', book.id]"
      ><img src="{{ book.productImage }}" alt=""
    /></a>
  </div>
  <div class="product__top">
    <div class="product__name">
      <p>{{ book.name }}</p>
    </div>
    <div class="product__rating">
  
          <star-rating value={{book.averageVote}} checkedcolor="gold" uncheckedcolor="blue" size="24px"></star-rating>
    </div>
    <div class="product__price">
      <p>{{ book.price | moneypipe }}</p>
    </div>
  </div>
  <div class="product__add__to__cart">
    <a (click)="addItemToCart()">Thêm vào giỏ</a>
  </div>
</div>
