<div class="container">
  <h5>Thông tin tài khoản</h5>
  <div *ngIf="userSocial" class="Social__profile">
    <div class="avaImg">
      <img src="{{ userSocial.photoUrl }}" alt="" />
    </div>
    <form class="normal-form" [formGroup]="profileSocialForm">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-12">
          <mat-form-field appearance="fill">
            <input
              formControlName="firstName"
              matInput
              placeholder="First Name"
            />
          </mat-form-field>
          <mat-form-field id="lastName" appearance="fill">
            <input
              formControlName="lastName"
              matInput
              placeholder="Last Name"
            />
          </mat-form-field>
          <mat-form-field style="width: 100%" appearance="fill">
            <input formControlName="email" matInput placeholder="Email" />
          </mat-form-field>
        </div>
      </div>
      <!--  <button style="width: 100%" [disabled]="!profileForm.valid" type="submit" mat-raised-button color="primary">Save</button> -->
    </form>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <form *ngIf="user" [formGroup]="userInfoForm">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Họ và tên</mat-label>
          <input formControlName="displayName" matInput />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-radio-group class="full-width" formControlName="gender">
          <mat-radio-button value="Nam">Nam</mat-radio-button>
          <mat-radio-button style="margin-left: 20px" value="Nữ"
            >Nữ</mat-radio-button
          >
        </mat-radio-group>
      </form>
    </div>
  </div>
</div>
