input.ng-invalid.ng-touched{
    border: 2px solid red;
}

.full-width {
    width: 100%;
}

button{
    margin: 0 10px;
}

table{
    margin-top: 30px;
    width: 100%;
}

form{
    margin-top: 102px;
    padding: 20px;
}

img
{
    cursor: pointer;
}

.btn__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.mat-column-id, .mat-column-imagePath, .mat-column-productname, 
.mat-column-brand,.mat-column-desc, .mat-column-country,
.mat-column-capacity,.mat-column-concentration,
.mat-column-bottled, .mat-column-price{
    border-right: 1px solid gainsboro;
    padding: 0 10px;
    text-align: center;
}

.mat-column-productname {
    width: 15%;
}

.mat-column-desc {
    width: 20%;
}

.mat-column-actions, .mat-icon-button {
    margin-top: 30px;
} 

mat-footer-row mat-footer-cell{
    display: flex;
    justify-content: center;
    font-style: italic;
}

.hide {
    display: none;
}

.search-div{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

