<div class="container">
  <div class="row d-flex justify-content-center">
      <form [formGroup]="newsForm">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Tên bài viết</mat-label>
                <input type="text" #title id="title" formControlName="title" matInput>
                <mat-error *ngIf="!newsForm.get('title').valid && newsForm.get('title').touched">Tiêu đề không được trống.</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Người viết</mat-label>
                <input type="text" #author id="author" formControlName="author" matInput>
                <mat-error *ngIf="!newsForm.get('author').valid && newsForm.get('author').touched">Người viết không được trống.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Ngày viết</mat-label>
                <input type="date" #date id="date" formControlName="date" matInput>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Hình ảnh</mat-label>
                <input type="text" #imageNews id="imageNews" formControlName="imageNews" matInput>
                <mat-error *ngIf="!newsForm.get('imageNews').valid && newsForm.get('imageNews').touched">Hình ảnh không được trống.</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <ckeditor [editor]="Editor" class="full-width" #content id="content" formControlName="content"></ckeditor>
            </div>
            <div class="btn__container">
              <button [disabled]="!newsForm.valid" class="btn btn-primary" (click)="onAddNews()" type="button">{{ editmode? 'Update News' : 'Add News' }}</button>
              <button class="btn btn-success" (click)="onFetchNews()" type="button">Fetch</button>
              <button class="btn btn-danger" (click)="onClearNews()" type="button">Clear</button>
            </div>
          </div>
      </form>
  </div>
</div>
<div class="container-fluid">
<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
    <input class="full-width" matInput [(ngModel)]="searchKey" placeholder="Tìm kiếm" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon><i class="fas fa-times"></i></mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="row d-flex justify-content-center mat-elevation-z8">
  <table mat-table [dataSource]="listdata" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="imageNews">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Hình ảnh</th>
      <td mat-cell *matCellDef="let element"><img src="{{element.imageNews}}" width="80px" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Tên bài viết</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Người viết</th>
      <td mat-cell *matCellDef="let element">{{element.author}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Ngày viết</th>
      <td mat-cell *matCellDef="let element">{{element.date | date: "dd-MM-yyyy"}}</td>
    </ng-container>
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Nội dung</th>
      <td mat-cell *matCellDef="let element">{{element.content | slice: 0: 100}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <tr mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEditItem(row.id)"><i class="fas fa-edit"></i></button>
        <button mat-icon-button color="warn" (click)=" onDeleteItem(row.id)"><i class="fas fa-trash-alt"></i></button>
      </tr>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="11">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="11">
        No data.
      </mat-footer-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listdata!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listdata!=null && listdata.data.length==0)}"></mat-footer-row>
  </table>
  <mat-paginator style="margin-top: 10px" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
</div>