checked {
  color: orange;
}

mat-icon {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.rating {
  text-align: center;
  margin: 15px 0;
}

textarea {
  resize: none;
}

button {
  display: block;
  margin-left: auto;
}
