<h5 style="text-align: center">Đánh giá sản phẩm</h5>
<form [formGroup]="ratingForm">
  <ngx-input-star-rating
    class="full-width rating"
    formControlName="rating"
  ></ngx-input-star-rating>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea rows="10" formControlName="comment" matInput></textarea>
  </mat-form-field>
  <br />
  <button mat-flat-button color="primary" (click)="onSubmit()">
    <span>Đánh giá</span>
  </button>
</form>
