<div class="container">
  <form [formGroup]="commentForm">
    <div>
      <div class="form-group">
        <label for="name">Tên của bạn</label>
        <input type="text" 
               #name
               id="name" 
               class="form-control"
               formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Email của bạn</label>
        <input type="email" 
               #email
               id="email" 
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="content">Nội dung bình luận</label>
        <textarea 
               style="resize: none;" 
               rows="5"
               #content
               id="content" 
               class="form-control"
               formControlName="content">
        </textarea>
      </div>
    </div>
    <div class="btn__register">
        <button (click)="onSendComment()" type="submit"><span>Gửi bình luận</span></button>
    </div>
  </form>
</div>
