<div class="container">
  <div class="slider">
    <img src="/assets/images/psl_1_r1_slide_img_32.jpg" alt="">
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="home__status__box first-box">
              <div class="home__status__content">
                  <i class="fas fa-book-reader fa-2x"></i>
                  <h2>Những bản Manga mới nhất</h2>
                  <h2>1000+</h2>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="home__status__box second-box">
              <div class="home__status__content">
                  <i class="fas fa-user fa-2x"></i>
                  <h2>Khách hàng thân thiết</h2>
                  <h2>500+</h2>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="home__status__box third-box">
              <div class="home__status__content">
                  <i class="fas fa-heart fa-2x"></i>
                  <h2>Thế giới của Light Novel</h2>
                  <h2>100+</h2>
              </div>
          </div>
      </div>
    </div>
  <div class="wrapping__header__home">
    <h2><a href="">Sản phẩm mới</a></h2>
  </div>
  <app-product-slide [books]="latestProducts"></app-product-slide>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="block__banner">
        <img src="/assets/images/block_home_category4_large0.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="block__banner">
        <img src="/assets/images/block_home_category5_large0.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="block__banner">
        <img src="/assets/images/block_home_category6_large0.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="wrapping__header__home">
    <h2><a href="">Sản phẩm sắp ra mắt</a></h2>
  </div>
  <div></div>

  <app-product-slide [books]="upcomingProducts"></app-product-slide>
</div>
<div class="home__collection">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="home__collection__wrapper">
                  <div class="home__collection__icon manga-color">
                      <i class="fas fa-book-open fa-2x"></i>
                  </div>
                  <div class="home__collection__content">
                      <p class="home__collection__text manga-color">Manga</p>
                      <p class="home__collection__text">200</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="home__collection__wrapper">
                  <div class="home__collection__icon lightNovel-color">
                      <i class="fas fa-book-open fa-2x"></i>
                  </div>
                  <div class="home__collection__content">
                      <p class="home__collection__text lightNovel-color">Light Novel</p>
                      <p class="home__collection__text">200</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="home__collection__wrapper">
                  <div class="home__collection__icon liturature-color">
                      <i class="fas fa-book-open fa-2x"></i>
                  </div>
                  <div class="home__collection__content">
                      <p class="home__collection__text liturature-color">Văn học</p>
                      <p class="home__collection__text">200</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="home__collection__wrapper">
                  <div class="home__collection__icon item-color">
                      <i class="fas fa-book-open fa-2x"></i>
                  </div>
                  <div class="home__collection__content">
                      <p class="home__collection__text item-color">Vật phẩm</p>
                      <p class="home__collection__text">200</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="wrapping__header__home">
  <h2><a href="">Bài viết nổi bật</a></h2>
</div>
<div class="container">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-12"
      *ngFor="let newsLatest of newsItemss; let i = index"
      [newsLatest]="newsLatest"
      [index]="i"
    >
      <div class="news__item">
        <a
          [routerLink]="['/news-detail', newsLatest.id]"
          style="cursor: pointer"
          class="news__features"
        >
          <img src="{{ newsLatest.imageNews }}" alt="" />
        </a>
        <div class="news__content">
          <div class="news__info">
            <span>{{ newsLatest.date }}</span>
          </div>
          <h3 class="news__title">
            <a [routerLink]="['/news-detail', newsLatest.id]">{{
              newsLatest.title
            }}</a>
          </h3>
          <div class="news__desc">
            <p innerHTML="{{ newsLatest.content | slice: 0:100 }}..."></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
      <div class="wrapping__header__home">
          <h2><a href="">Đối tác</a></h2>
      </div>
      <swiper
      [slidesPerView]="4"
      [spaceBetween]="30"
      [breakpoints]="breakpoints"
      [loop]="true"
      [autoplay]="true"
      [navigation]="true"
    >
      <ng-container>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_12.jpg" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_22.jpg" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_32.jpg" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_42.jpg" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_52.jpg" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="publisher__holder">
            <div class="publisher__image">
                <img src="/assets/images/plogo_1_r1_logo_img_62.jpg" alt="">
            </div>
          </div>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
</div>
