<div class="wrapping__header__home">
        <h2><a href="">Khách hàng và HuWine</a></h2>

</div>
    <div class="container-fluid">
        <div class="row px-lg-2">
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_71.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_81.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_91.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_101.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_111.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                <div class="gallery__item">
                    <img src="/assets/images/gallery_item_121.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer__title">
                        <h4>Giới thiệu</h4>
                    </div>
                    <div class="footer__content">
                        <p>HuWine là trang web bán rượu vang với chất lượng tốt nhất và có mức giá cạnh tranh hợp lí trên thị trường.</p>
                    </div>
                    <img src="/assets/images/logo-bct.png" width="150px" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer__title">
                        <h4>Pháp lý và câu hỏi</h4>
                    </div>
                    <div class="footer__content">
                        <ul>		
                            <li class="item">
                                <a href="" title="Tìm kiếm">Tìm kiếm</a>
                            </li>
                            
                            <li class="item">
                                <a href="" title="Giới thiệu">Giới thiệu</a>
                            </li>
                            
                            <li class="item">
                                <a href="" title="Chính sách đổi trả">Chính sách đổi trả</a>
                            </li>
                            
                            <li class="item">
                                <a href="" title="Chính sách bảo mật">Chính sách bảo mật</a>
                            </li>
                            
                            <li class="item">
                                <a href="" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                            </li>  
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer__title">
                        <h4>Thông tin liên hệ</h4>
                    </div>
                    <div class="footer__content">
                        <ul>
                            <li><span>Địa chỉ:</span> Lầu 2, Tòa nhà CNTT, 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. HCM</li>
                            <li><span>Điện thoại:</span> 1900.099.099</li>
                            <li><span>Fax:</span> 1900.099.099</li>
                            <li><span>Hộp thư:</span> HuWine@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer__title">
                        <h4>Fanpage</h4>
                    </div>
                    <div class="footer__content">
                        <div class="fb-page" data-href="https://www.facebook.com/YureiFansub/" data-tabs="none" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/YureiFansub/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YureiFansub/">Yurei Fansub</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-footer__border">
				<p>Copyright © 2021 <a href=""> HuWine</a>.  <a target="_blank" href="" rel="noreferrer">Powered by HuWine</a></p>
			</div>
        </div>
    </footer>
