<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer__title">
                    <h4>Giới thiệu</h4>
                </div>
                <div class="footer__content">
                    <p>MangaStore là trang bán truyện tranh manga, light novel hàng đầu Việt Nam</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer__title">
                    <h4>Pháp lý và câu hỏi</h4>
                </div>
                <div class="footer__content">
                    <ul>		
                        <li class="item">
                            <a href="" title="Tìm kiếm">Tìm kiếm</a>
                        </li>
                        
                        <li class="item">
                            <a href="" title="Giới thiệu">Giới thiệu</a>
                        </li>
                        
                        <li class="item">
                            <a href="" title="Chính sách đổi trả">Chính sách đổi trả</a>
                        </li>
                        
                        <li class="item">
                            <a href="" title="Chính sách bảo mật">Chính sách bảo mật</a>
                        </li>
                        
                        <li class="item">
                            <a href="" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                        </li>  
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer__title">
                    <h4>Thông tin liên hệ</h4>
                </div>
                <div class="footer__content">
                    <ul>
                        <li><span>Địa chỉ:</span> Tầng 100, tòa nhà Wibu, 100 Trần Hưng Đạo, Q.13</li>
                        <li><span>Điện thoại:</span> 1900.990.099</li>
                        <li><span>Fax:</span> 1900.900.099</li>
                        <li><span>Hộp thư:</span> mangastore@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer__title">
                    <h4>Fanpage</h4>
                </div>
                <div class="footer__content">
                    <div class="fb-page" data-href="https://www.facebook.com/YureiFansub/" data-tabs="none" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/YureiFansub/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YureiFansub/">Yurei Fansub</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-footer__border">
            <p>Copyright © 2021 <a href=""> MangaStore</a>.  <a target="_blank" href="" rel="noreferrer">Powered by MangaStore</a></p>
        </div>
    </div>
</footer>