<div *ngIf="book" class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="product__image__holder">
        <div class="product__detail__image">
          <ngx-gallery
            [options]="galleryOptions"
            [images]="galleryImages"
            style="display: inline-block; margin-bottom: 20px"
          ></ngx-gallery>
        </div>
        <div class="product__detail__button">
          <a
            *ngIf="book.quantity > 0"
            class="product__detail__to__cart"
            (click)="addItemToCart()"
            >Thêm vào giỏ hàng</a
          >
          <a *ngIf="book.quantity > 0" class="product__detail__pre__order">{{
            releaseDate > today ? "Đặt mua" : "Mua ngay"
          }}</a>
          <a
            *ngIf="book.quantity == 0"
            class="product__detail__to__cart disabled"
            >Thêm vào giỏ hàng</a
          >
          <a
            *ngIf="book.quantity == 0"
            class="product__detail__pre__order disabled"
            >{{ releaseDate > today ? "Đặt mua" : "Mua ngay" }}</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="product__info__holder">
        <div class="product__detail__name">
          {{ book.name }} {{ book.soldQuantity }}
        </div>
        <div class="product__info__wrapper">
          <div class="first__info">
            <div class="producer__info">
              <span>Nhà cung cấp: </span><span>{{ book.publisherName }}</span>
            </div>
            <div class="author__info">
              <span>Tác giả: </span><span>{{ book.author }}</span>
            </div>
          </div>
          <div class="second__info">
            <div class="publisher__info">
              <span>Nhà xuất bản: </span><span>{{ book.publisherName }}</span>
            </div>
            <div class="cover__page__info">
              <span>Hình thức bìa: </span><span>{{ book.cover }}</span>
            </div>
          </div>
        </div>
        <div class="product__rating">
          <a (click)="onClick('rating')">
            <star-rating
              value="{{ book.averageVote }}"
              checkedcolor="gold"
              uncheckedcolor="gray"
              size="24px"
            ></star-rating>
            ({{ book.ratings.length }} đánh giá)
          </a>
        </div>
        <div class="product__price__flavor">
          <p>{{ book.price | currency: "VND":"symbol" }}</p>
          <div class="price__flavor__icon">
            <i class="fas fa-heart"></i>
          </div>
        </div>
        <div class="product__address">
          <span>Giao hàng đến </span
          ><span><strong>Phường 3, Quận 8</strong></span>
        </div>
        <div *ngIf="book.quantity > 0" class="product__view__quantity__box">
          <div class="d-flex align-items-center">
            <i
              (click)="decrementItemQuantity()"
              class="fa fa-minus-circle text-warning mr-2"
              style="cursor: pointer; font-size: 2em"
            ></i>
            <span class="font-weight-bold" style="font-size: 1.5em">
              {{ quantity }}
            </span>
            <i
              (click)="incrementItemQuantity()"
              class="fa fa-plus-circle text-warning mx-2"
              style="cursor: pointer; font-size: 2em"
            ></i>
          </div>
        </div>
        <span *ngIf="book.quantity < 10 || book.quantity == 10"
          >Chỉ còn {{ book.quantity - leftProduct }} sản phẩm trong hệ
          thống</span
        >
        <span *ngIf="book.quantity == 0" class="sold__out">
          Sản phẩm này đã hết hàng
        </span>
        <div class="product__order__policy">
          <h4>Ưu đãi dành cho người mua hàng trên website:</h4>
          <ul>
            <li>Có thể nhận hàng tại shop.</li>
            <li>Giao hàng toàn quốc. Thời gian giao hàng từ 3 - 7 ngày</li>
            <li>Tặng bao bảo vệ cho mọi sản phẩm.</li>
            <li>
              Bọc plastic miễn phí cho Light Novel đặt mua trước ngày phát hành
              dự kiến.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="book" class="container">
  <hr />
  <div class="wrapping__header__detail">
    <h2><a href="">Thông tin sản phẩm</a></h2>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td scope="row"><strong>Tên sản phẩm:</strong></td>
        <td>{{ book.name }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Kích thước:</strong></td>
        <td>{{ book.size }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Hình thức bìa:</strong></td>
        <td>{{ book.cover }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Số trang:</strong></td>
        <td>{{ book.pages }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Dịch giả:</strong></td>
        <td>{{ book.translators }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Tác giả:</strong></td>
        <td>{{ book.author }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Ngày phát hành:</strong></td>
        <td>{{ book.releaseDate | date: "dd/MM/yyyy" }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Thể loại:</strong></td>
        <td>
          <span style="margin: 0 10px 0 0" *ngFor="let genre of book.genres">{{
            genre.name + ","
          }}</span>
        </td>
      </tr>
      <tr>
        <td scope="row"><strong>Danh mục:</strong></td>
        <td>{{ book.categoryName }}</td>
      </tr>
      <tr>
        <td scope="row"><strong>Nhà xuất bản:</strong></td>
        <td>{{ book.publisherName }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="product__content__wrapper">
    <div
      [innerHTML]="book.content"
      [ngClass]="{ limitTextHeight: isReadMore }"
    ></div>
    <a class="btn-seemore" (click)="showText()">
      {{ isReadMore ? "Xem thêm" : "Rút gọn" }}
    </a>
  </div>
</div>
<div class="container-fluid body-wrapper">
  <div class="container">
    <div class="wrapping__header__detail">
      <h2><a href="">Sản phẩm liên quan</a></h2>
    </div>
    <app-product-slide
      *ngIf="relatedBook"
      [books]="relatedBook"
    ></app-product-slide>
    <hr />
    <div class="wrapping__header__detail">
      <h2><a href="">Đánh giá sản phẩm</a></h2>
    </div>
    <div id="rating" *ngIf="book">
      <div class="rating__totals">
        <div class="rating__score">
          <div class="rating__number">
            <span>{{ book.averageVote | number: "1.0-1" }}</span
            >/<span>5</span>
            <star-rating
              value="{{ book.averageVote }}"
              checkedcolor="gold"
              uncheckedcolor="gray"
              size="24px"
            ></star-rating>
            ({{ book.ratings.length }} đánh giá)
          </div>
        </div>
        <div class="rating__progress">
          <ng-container *ngIf="ratingValue">
            <div *ngFor="let rateValue of ratingValue" class="rating__percent">
              <span>{{ rateValue.star }} sao</span>
              <div class="percent__wrapper">
                <div
                  [ngStyle]="{ width: rateValue.value + '%' }"
                  class="percent__value"
                ></div>
              </div>
              <div class="percent__value__number">
                <span>{{ rateValue.value | number: "1.0-0" }}%</span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="rating__button">
          <a *ngIf="isAuthorized" (click)="openDialog(book.id)"
            >Viết nhận xét</a
          >
          <span *ngIf="!isAuthorized"
            >Chỉ có thành viên mới thực hiện được chức năng này.</span
          >
        </div>
      </div>
      <hr />
      <section class="container" *ngFor="let rate of book.ratings">
        <div class="rating__wrapper">
          <div class="rating__user">
            <p>{{ rate.userName }}</p>
            <p>{{ rate.ratingDate | date: "dd/MM/yyyy" }}</p>
          </div>
          <div class="rating__value">
            <star-rating
              *ngIf="rate"
              value="{{ rate.rate }}"
              checkedcolor="gold"
              uncheckedcolor="gray"
              size="24px"
            ></star-rating>
            <p>{{ rate.comment }}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
