<div class="checkout__wrapper" [formGroup]="checkoutForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="checkout__container">
          <div class="checkout__content">
            <h5>Địa chỉ giao hàng</h5>
            <hr />
            <div
              class="checkout__address"
              *ngFor="let address of addresses; let i = index"
            >
              <div class="checkout__address__info">
                <input
                  name="address"
                  (change)="onSelected($event)"
                  type="radio"
                  [value]="address.id"
                />
                <label for=""
                  >{{ address.firstName + " " + address.lastName }}
                  <span style="margin: 0 6px">|</span> {{ address.street }},
                  Phường {{ address.ward }}, Quận {{ address.district }},
                  {{ address.city }}, {{ address.country }}
                  <span style="margin: 0 6px">|</span>
                  {{ address.phone }}</label
                >
              </div>
              <div class="checkout__address__edit">
                <span (click)="openDialog(address)" class="text-success"
                  >Sửa địa chỉ</span
                >
                <span
                  *ngIf="!address.isMainAddress"
                  [swal]="{
                    title: 'Xác nhận!',
                    text: 'Bạn có muốn xóa địa chỉ này?',
                    showCancelButton: true
                  }"
                  (confirm)="onDeleteAddress(address.id)"
                  class="text-danger"
                  >Xóa</span
                >
              </div>
            </div>
            <span (click)="openDialogCreate()" class="add-address"
              >Giao hàng đến địa chỉ khác</span
            >
            <form style="display: none" formGroupName="addressForm">
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input type="text" formControlName="firstName" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input type="text" formControlName="lastName" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="text" formControlName="phone" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input type="text" formControlName="country" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input type="text" formControlName="street" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" formControlName="city" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Ward</mat-label>
                <input type="text" formControlName="ward" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>District</mat-label>
                <input type="text" formControlName="district" matInput />
              </mat-form-field>
            </form>
          </div>
          <div class="checkout__content" formGroupName="deliveryForm">
            <h5>Phương thức vận chuyển</h5>
            <hr />
            <div
              class="checkout__delivery"
              *ngFor="let delivery of deliveryMethods"
            >
              <input
                (click)="setShippingPrice(delivery)"
                formControlName="deliveryMethod"
                type="radio"
                id="delivery.id"
                name="deliveryMethod"
                [value]="delivery.id"
              /><label for="{{ delivery.id }}"
                >{{ delivery.description }}:
                {{ delivery.price | moneypipe }}</label
              >
            </div>
          </div>
          <div class="checkout__content" formGroupName="paymentMethodForm">
            <h5>Phương thức thanh toán</h5>
            <hr />
            <div
              class="checkout__payment"
              *ngFor="let payment of paymentMethods"
            >
              <input
                type="radio"
                name="paymentMethod"
                formControlName="paymentMethod"
                [value]="payment.id"
              />
              {{ payment.description }}
            </div>
          </div>
          <div class="checkout__content">
            <h5>Thông tin khác</h5>
            <hr />
            <div class="checkout__payment">
              <input type="checkbox" name="note" /> Ghi chú
              <div class="note__wrapper" formGroupName="noteForm">
                <input
                  type="text"
                  name="orderNote"
                  formControlName="orderNote"
                  placeholder="Ghi chú của bạn"
                />
              </div>
            </div>
          </div>
          <div class="checkout__content">
            <h5>Kiểm tra lại giỏ hàng</h5>
            <hr />
            <a class="checkout__btn" (click)="createPaymentIntent()">
              Xác nhận thanh toán
            </a>
            <table
              *ngIf="cart$ | async"
              class="table table-responsive-sm table-borderless table-light"
            >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of (cart$ | async).items">
                  <td>
                    <img src="{{ item.productImage }}" width="100px" />
                  </td>
                  <td id="row2">
                    {{ item.productName }}
                  </td>
                  <td>
                    <span class="price">{{ item.price | moneypipe }}</span>
                  </td>
                  <td id="row4">{{ item.quantity }}</td>
                  <td id="row5">{{ item.price * item.quantity }}</td>
                </tr>
              </tbody>
            </table>
            <hr />
            <div *ngIf="cartTotals$ | async" class="order__subtotal">
              <p>
                Thành tiền:
                <span>{{ (cartTotals$ | async).subtotal | moneypipe }}</span>
              </p>
              <p>
                Phí vận chuyển:
                <span>{{ (cartTotals$ | async).shipping | moneypipe }}</span>
              </p>
              <p>
                Tổng tiền:
                <span>{{ (cartTotals$ | async).total | moneypipe }}</span>
              </p>
              <a class="checkout__btn" (click)="submitOrder()">
                Xác nhận thanh toán
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
